html {
    font-size: 20px;
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
@media screen and (max-width: 620px){
    html {
        font-size: 15px;
    }
}

body {
    background: rgb(240);
    background-size: 100vh;
    font-family: "Raleway", sans-serif ;
    font-weight: 200;
    font-size: 1rem;
    padding: 0px;
    
}

.hidden {
    display: none;
}

header {
    font-family: "Poppins", sans-serif ;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    box-sizing: border-box;
    background-color: white;
    justify-content: center;
    
}
#sidenav {
    width: 0;
}

#hamburguer {
    width: 20px;
    height:20px;
    background-color: red;
}

header a {
    text-decoration:none;
}

.logo {
    float: inline-start;
    font-weight: 900;
}

.logo h1 {
    padding: 1rem;
}

a {
    color: black;
}

a:hover {
    color: red;
}
.links {
    float: inline-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    right: 0px;
}



#blog, #loja{
    text-decoration: line-through double currentColor 5px;
}
.centro {
    padding: 1rem;
    font-weight: 900;
    font-style: normal;
    justify-content: center;
    margin: auto;
}
.centro p{
    font-style: normal;
    text-decoration: none;
}

.centro a {
    text-decoration: none;
}

p {
    font-style: italic;
    padding: 1rem;
}

.destaque {
    background-color: white;
    text-align:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quadrado {
    min-width: 200px;
    width: 30vw;
    height: 30vh;
    background-color: black;
    display: flex;
    
}

.quadrado article {
    position: relative;
    /*align-content: center;*/
}
.quadrado img {
    /*position: absolute;
    z-index:-1;*/
    height: 30vh;
    width: auto;
    
}
.quadrado h2 {
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: 900;
    text-align: center;
    /*top: 50%;
    left: 50%;*
    transform: translate(-50%, -50%);*/
}
#quadrado_janela {
    background-color: rgb(63, 63, 230);
}

#quadrado_curta {
    /*background-color: red;
    background: url(imgs/curta01.png);*/
    width: auto;
    /*
    background-position-x: -830px;
    background-position-y: -320px;
    */
}

#quadrado_desenhos {
    background-color: tomato;
}

#bio {
    height: 50vh;
}
.bio h3 {
    padding: 1rem;
}
section .titulo {
    height: 100vh;
    text-align: center;
    /*float: center;*/
    margin:auto;

    /*justify-content: center;*/

    /*
    background: linear-gradient(0deg, rgb(204, 204, 255, 1),  rgb(255, 192, 203, 0.5));
    */
    color:rgb(63, 63, 230);
    background-attachment: fixed;

}

.titulo .titulos{
    position: sticky;
    top: 45vh; 
    left: 0vh;
}

.titulo h3 {
    font-weight: 900;
    font-size:3rem;
    font-family: "Poppins", sans-serif;
    /*
    font-variant-caps: all-small-caps;
    */
}

.imgsFundo {
    position: absolute;
    z-index: -1;
}

#janelas_areacriança {
    position: absolute;
    width: 30vh;
    top: 1vh;
    left: 10vw;
}

section .corpo {
    background-color: rgba(0, 0, 0, 0);
    min-height: 50vh;
    color: black;


    font-weight: 200;
}

.corpo p {
    max-width:600px;
    margin: 1rem auto;
    padding:1rem;
    left: 50%;
    translate: 0, -50%;
}

#curta01 {
    /* FALTA IMAGEM */
}

h3 {
    font-size: 3rem;
}

#voltaaotopo {
    opacity:0.5;
    height: 7vh;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

